.backgroundText {
position: absolute;
width: 878px;
height: 138px;
left: 281px;
top: 326px;

font-family: 'Sahitya', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 47px;

color: #000000;

overflow: hidden;
text-align: center;
z-index: 1;
}